*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}

.Navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar img{
    width: 65px;
    height: 26px;
}

.opcionesinicio{
    display: flex;
    list-style: none;
    padding: 25px 0;
}

.opcionesinicio li{
    padding: 0px 8 px;
}

.opcionesinicio li,
.opcionesinicio li a{
    color: rgba(250, 235, 215, 0.978);
    font-weight: bold;
    text-decoration: none;
}

.fa-solid{
    margin: right 8px;
}

.especial{
    margin-left:10px;
}

.slider{
    margin: 60px 0px;
    width: 100%;
    padding: 0px 70px;
}

.slider img{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 35px;
    padding: 0px 50px;
}
 .grid div{
    border: 1px solid rgb (202, 202, 202);
    border-radius: 15px;
 }

 .grid div img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 }

 .grid div h5{
    padding: 15px;
}

.grid div p{
    padding: 15px 20px;
}

.noticia{
    grid-row: 1/9;
    grid-column: 3/4;
}

.noticia h6{
    width: 70%;
}

.noticia img{
    width: 20% !important;
    border-radius: 0 !important;
}

.noticiaespecial{
    display: flex;
}

.footer{
    height: 600px;
    padding: 70px 30px;
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/6/2f/mstiteli-voina-beskonechnosti-avengers-infinity-war-komiks-1.jpg);
}

.footer ul{
    list-style: none;
}

.footer ul li{
    color: floralwhite;
    padding: 20px;
}