*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}

.Navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar img{
    width: 65px;
    height: 26px;
}

.opcionesinicio{
    display: flex;
    list-style: none;
    padding: 25px 0;
}

.opcionesinicio li{
    padding: 0px 10px;
}

.opcionesinicio li,
.opcionesinicio li a{
    color: rgba(250, 235, 215, 0.978);
    font-weight: bold;
    text-decoration: none;
}

.fa-solid{
    margin-right: 10px;
}

.fa-sort-down{
    margin-left: 10px !important; 
}


.slider{
    margin: 60px 0px;
    width: 100%;
    padding: 0px 70px;
}

.slider img{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 35px;
    padding: 0px 50px;
}
 .grid div{
    border: 1px solid rgb(32, 20, 20);
    border-radius: 15px;

}

.grid div img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.grid div h5{
    padding: 10px;
}

.grid div p{
    padding: 15px 20px;
}

.noticia{
    grid-row: 1/9;
    grid-column: 3/4;
    border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.noticia h6{
    width: 70%;
}

.noticia img{
    width: 20% !important;
}

.noticiaespecial{ 
    display: flex;
    padding: 0px;
    font-size: 35px; 
    border-radius: 0px !important;
}

.not{
    padding: 0px;
    font-size: 35px; 
    border-radius: 0px !important;
    border: solid   ;
}

.footer{
    height: 600px;
    padding: 70px 30px;
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/6/2f/mstiteli-voina-beskonechnosti-avengers-infinity-war-komiks-1.jpg);
}

.footer ul{
    list-style: none;
}

.footer ul li{
    color: floralwhite;
    padding: 20px;
}

@media(max-width:991px) {
    .opcionesinicio{
        display:none;
    }
    .logo{
        width: 5px;
        margin: 5px;
    }

    .fa-bars{
        display: block;
        color: aliceblue;
        padding: 15px;
    }

    .Navbar{
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .grid{
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 205);
        gap: 20px;
    }

    .Parrafo1{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .Parrafo2{
        grid-column: 2/3;
        grid-row:1/2;
    }

    .Parrafo3{
        grid-column:1/2;
        grid-row:2/3;
    }

    .Parrafo4{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .Parrafo5{
        grid-column: 1/2;
        grid-row:3/4;
    }

    .Parrafo6{
        grid-column: 2/3;
        grid-row:3/4;
    }

    .Parrafo7{
        grid-column: 1/2;
        grid-row:4/5;
    }



    .noticia{
        grid-column: 1/3;
        grid-row: 5/6;
    }

    


   
}
